<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500&family=IBM+Plex+Sans+Thai:wght@200&family=Mitr:wght@200&family=Noto+Serif+Thai&display=swap" rel="stylesheet">
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>

<div class="container" >
    <div class="card">
      <div class="content">
      <div class="wrap-login100">
        <img src="../../../../assets/images/regis.png" alt="" height="90px">
        <form [formGroup]="registerForm" class="login100-form validate-form"> <span class="login100-form-title "> สมัครสมาชิก </span> <span class="login100-form-subtitle m-b-16"> กรุณากรอกข้อมูลให้ครบถ้วน </span>
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="password" name="password" placeholder="Password" formControlName="password">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" name="name" placeholder="ชื่อผู้ใช้งาน" formControlName="name">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div>
            
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" name="tel" placeholder="เบอร์โทร" formControlName="tel">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16">
               <input class="input100" type="text" name="birthday" placeholder="ว/ด/ป" formControlName="birthday">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div> 
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" name="lineId" placeholder="Line ID" formControlName="lineId">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"  ></span>
                <select class="input100" name="sex" placeholder="Gender" formControlName="sex">
                    <option value="1">ชาย</option>
                    <option value="2">หญิง</option>
                </select>  
            </div>
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" name="address" placeholder="ที่อยู่" formControlName="address">
                <span class="focus-input100 symbol-input100 glyphicon glyphicon-user"></span>
            </div>
            <div class="container-login100-form-btn p-t-25"> <button class="login100-form-btn" (click)="addMember()"> สมัครสมาชิก </button> </div>
        </form>
    </div>

      </div>
    </div>
  </div>

